body{
    background-color: #03002e;
    color: rgb(226, 223, 208);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid  rgb(226, 223, 208);
margin-bottom: 20px;
}
  .output-section{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 1rem;
  } 
.output {
    width: 90%;
    max-width: 750px;
    max-height: 500px;
    padding: 2rem;
    background-color: transparent;
    border: 2px solid rgb(226, 223, 208);
    border-radius: 19px;
    display: flex;
    justify-content: center;
    flex: 1;
    overflow-y: auto;

}
.prompt-section{
display: flex;
justify-content: center;
padding: 1rem;
width: 100%;
}
.prompt-bar{
    max-width: 800px;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid lightblue;
    border-radius: 35px;
    background-color:#7695FF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex:1;
}

.prompt-bar > textarea{
    width: 700px;
    height: 25px;
    max-height: 200px;
    outline: none;
    resize: none;
    border-radius: 15px;
    background-color:#7695FF;
    color: black;
    padding: 10px;
    border: none;
    font-size: x-large;
}
.bottom{
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.send-btn button{
    background: transparent;
    border: none;
}
.send-btn svg{
    background:rgb(249, 115, 0);
    border-radius: 50%;
    border: 3px solid rgb(226, 223, 208);
    /* box-shadow: 5px 5px; */
    
}
svg:hover{
    cursor: pointer;
} 